services:
{% for i in range(1, server_count + 1) %}
{% set service_name = 'dorientdb' ~ i %}
  {{ service_name }}:
    image: {{ docker_image }}:{{ docker_version }}
    ports:
      - "{{ 2480 + i }}:2480"
    environment:
      ORIENTDB_NODE_NAME: {{ service_name }}
      ORIENTDB_ROOT_PASSWORD: "password"
      ORIENTDB_SETTINGS: -Dstorage.diskCache.bufferSize=256
      ORIENTDB_OPTS_MEMORY: -Xmx512m
      HAZELCAST_PLUGIN_STARTUP_DELAY: 2000
    volumes:
      - ./config/distributed-db-config.json:/orientdb/config/default-distributed-db-config.json
      - ./config/hazelcast-{{ i }}.xml:/orientdb/config/hazelcast.xml
      - ./data/databases/{{ service_name }}:/orientdb/databases
      - ./data/backup/{{ service_name }}:/orientdb/backup
    stop_grace_period: 2m
    command: |
      bash -c '
        useradd orientdb --uid 501
        chown -R orientdb /orientdb
        setpriv --reuid=orientdb --regid=orientdb --init-groups --inh-caps=-all dserver.sh debug'
    labels:
      orientdb-stress-role: db-container

{% endfor %}
